<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='embedding_viz.js') }}"></script> 
</head>
<body>
  <div id="controls">
    <button id="reset">Reset</button>
    <button id="clear">Clear selection</button>
    <fieldset class="rb-group">
      <legend>Display style</legend>
    	  <label class="rb"><input type="radio" name="toogleLabels" onchange="toggleLabels()" autocomplete="off" checked> nodes </label>
      <label class="rb"><input type="radio" name="toogleLabels" onchange="toggleLabels()" autocomplete="off"> labels</label>
    </fieldset>
    <fieldset class="rb-group">
      <legend>Node size</legend>
    	  <label class="rb"><input type="radio" name="nodeSize" autocomplete="off" value="fixed" checked> fixed </label>
      <label class="rb"><input type="radio" name="nodeSize" autocomplete="off" value="rank"> rank </label>
      <label class="rb"><input type="radio" name="nodeSize" autocomplete="off" value="count"> count</label>
    </fieldset>
    <fieldset class="rb-group">
      <legend>Query</legend>
      <input type="text" id="query_input" width="150px">
    </fieldset>
  </div>
  <div id="clusters"></div>
  <div id="similarities">
    <svg height='0' width="100%"></svg>
  </div>
<svg id="map"></svg>
<script>
draw_embedding({{ visData|safe}}, {{ xmin }}, {{ xmax }}, {{ ymin }}, {{ ymax }});
</script>
</body>