* {
	font-family: 'Lato', sans-serif;
}

body {
	margin: 0;
}

input[type=checkbox] {
	vertical-align: middle;
}

#controls {
	position: absolute;
	top: 20px;
	left: 20px;
	background: rgba(255, 255, 255, 0.8);
}

#clusters {
	position: absolute;
	top: 230px;
	left: 22px;
	font-size: 12px;
	background: rgba(255, 255, 255, 0.8);
}

#similarities {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 200px;
	font-size: 12px;
	background: rgba(255, 255, 255, 0.8);
}

#reset {
	vertical-align: middle;
}

#clear {
	vertical-align: middle;
	margin-left: 10px;
}

#query_input {
	vertical-align: middle;
	width: 150px;
}

#map {
	padding: 10px;
	display: block;
}

.view {
	fill: None;
	stroke: None;
}

.rb-group {
 	font-size: 0.75em;
 	text-align: center;
 	width: 175px; 
 	margin-top: 10px;
 	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid #B9B9D2;
	border-radius: .3em;
}

.rb {
	vertical-align: middle;
}

.node {
	stroke: grey;
	fill: #BBB;
	visibility: visible;
	cursor: pointer;
}

.label {
	font-size: 0.75em;
	text-anchor: middle;
	dominant-baseline: middle;
	visibility: hidden;
	cursor: pointer;
}

.sim-label {
	font-size: 10px;
	text-anchor: end;
	dominant-baseline: middle;
	cursor: pointer;
}

.sim-text {
	font-size: 10px;
	text-anchor: end;
	fill: white;
	dominant-baseline: middle;
}

.sim-heading {
	margin-top: 0;
	margin-bottom: 0.5em;
}