* {
	font-family: 'Lato', sans-serif;
}

body {
	margin: 0;
}

input[type=checkbox] {
	vertical-align: middle;
}

#controls {
	position: absolute;
	top: 20px;
	left: 20px;
}

#reset {
	vertical-align: middle;
}

#clear {
	vertical-align: middle;
	margin-left: 20px;
}

#toggle-labels {
	vertical-align: middle;
	margin-left: 20px;
}

svg {
	border: 1px solid red;
	padding: 10px;
	display: block;
}

.view {
	fill: None;
	stroke: None;
}

.node {
	stroke: grey;
	fill: #BBB;
}

.label {
	font-size: 0.75em;
	text-anchor: middle;
	dominant-baseline: middle;
	visibility: hidden;
}

.selected {
}
